/* Place CSS styles here */
.navbar {
    color: #fafbff;
    padding: 20px;
    font-family: "Dokdo", serif;
    font-size: 2em;
    }
.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    }
.navbar li {
    display: inline-flex;
    }

.navbar a {
    text-decoration: none;
    color: #e0e8ff;
    padding: 10px;
    transition: color 0.3s;
}


.navbar a.active {
    text-decoration: underline;
    font-weight: bold;
  }

.navbar a:hover {
    color: #000000;
    font-size: 1.0em;
}

/* For screens smaller than 768px */
@media (max-width: 768px) {
.navbar ul {
    flex-direction: column;
    display: none;
    }
.navbar .toggle-button {
    display: block;
    cursor: pointer;
    }
.navbar ul.active {
    display: block;
    }
    }
    

.backdrop {
    background-image: url(../img/Sign.jpg);
    width: 110%;
    position: absolute;
    left: 0;
    max-height: 110%;
    object-fit: cover;
    display: flex;
    justify-content: center;
}

.homepage {
    background-image: url(../img/Sign.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    margin: 5px;
}

.h1 {
        font-family: "Dokdo", serif;
        font-weight: 400;
        font-style: normal;
        color: saddlebrown;
        font-size: 2em;
        text-align: center;
        position: fixed;
      }
      

 
